@media screen and (max-width: 767px){
    .blind-m { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0, 0, 0, 0); }
}

@media screen and (min-width: 1024px){ /* 데스크탑 min-width가 다를 수 있음 */
    body { 
        font-size: 18px;
    }
}
/* #aside {} */
#main .contents .user-select-area input[type="radio"], 
#main .contents .user-select-areainput[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
#main .contents .detail-box dt {
    font-weight: 500;
    font-size: 20px;
}
#main .contents .process-info {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    gap:20px;
    padding: 10px 15px;
    border: 1px solid #e2e2e2;
}
#main .contents .process-info li {
    flex: 1;
    flex-shrink: 0;
    width: 100%;
    text-align: center;
}
/*pc로 바뀔때 버튼이 앱솔루트화됨*/
#main .contents .user-select-area {
    position: relative;
}
/*임시로 넣은거 div2~4가림*/
#main .contents .user-select-area div {
    display: none;
}
#main .contents .user-select-area .on { display: block;}
#main .contents .user-select-area legend {
    margin-bottom: 40px;
}
#main .contents .user-select-area .btns-area {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:10px;
}
.btns-area label {
    width:100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9fb;
}
.btns-area input:checked + label {
    background-color: #1b6eab;
}
#main .user-select-area .select-process-btns {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    padding: 0 15px;
    gap:3px;
}
#main .user-select-area .select-process-btns button {
    width: 100px;
    padding: 10px 15px;
    background-color: #727272;
    border: 1px solid #727272;
}
#main .user-select-area .select-process-btns .prev-btn {
    background-color: #fff;
    border: 1px solid #727272;
}
#main .user-select-area .select-process-btns .reset { display: none;}



