@media screen and (max-width: 767px){
    .blind-m { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0, 0, 0, 0); }
}

@media screen and (min-width: 1024px){ /* 데스크탑 min-width가 다를 수 있음 */
    body { 
        font-size: 18px;
    }
}
/* #aside {} */
th, td { padding: 10px 5px;}
#main .contents .chart-list {
    width: 100%;
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
    padding: 10px 15px;
}
.chart-info {
    font-size: 14px;
    font-weight: 400;
}
#main .contents .chart-list .chart-box {
    display: flex;
    align-items: flex-start;
}
.chart tbody tr:last-child { border-bottom: 1px solid #555;;}
#main .contents .grape-area {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #e1e1e1;
}
#main .contents .cap-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chart thead th:nth-child(2) {
    background-color: transparent;
}
.chart th {
    border-bottom: 1px solid #e2e2e2;
    width: 100px;
}