@media screen and (max-width: 767px){
    .blind-m { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0, 0, 0, 0); }
}

@media screen and (min-width: 1024px){ /* 데스크탑 min-width가 다를 수 있음 */
    body { 
        font-size: 18px;
    }
}
/* #aside {} */

#main .contents {
    padding-top: 30px;
}
#main .contents .form-area { padding: 15px; border: 1px solid #e2e2e2;}
#main .contents .form-area div {
    display: flex;
    margin-top: 5px;
}
#main .contents .form-area .search-key01 {
    margin: 0;
}
#main .contents .form-area p {
    width: 100px;
    padding: 20px 10px;
    margin-right: 10px;
    background-color: #f5f5f5;
    text-align: center;
}
#main .contents .form-area .search-key01 ul {
    flex: 1;
}
#main .contents .form-area .search-key01 .dropdown {
    width: 100%;
    height: 50%;
    /* margin-bottom: 5px; */
}
#main .contents .form-area .dropdown {
    flex: 1;
    padding: 10px 15px;
    margin-bottom: 5px;
}
#main .contents .search-key03 div {
    flex: 1;
}
#main .contents .search-key02 div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#main .search-btns {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    padding: 0 15px;
    gap:3px;
}
/*width:640부터 오토로 바뀜*/
#main .search-btns button {
    width: 100%;
}
#main .search-btns .reset-btn {
    background-color: #fff;
    color: #222;
}