@media screen and (max-width: 767px){
    .blind-m { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0, 0, 0, 0); }
}

@media screen and (min-width: 1024px){ /* 데스크탑 min-width가 다를 수 있음 */
    body { 
        font-size: 18px;
    }
}
/* #aside {} */
.spacing {
    flex: 1;
}
#main .contents {
    padding-top: 30px;
}
#main .contents .form-area { padding: 15px; border: 1px solid #e2e2e2;}
#main .contents .form-area div {
    display: flex;
    margin-top: 5px;
}
#main .contents .form-area .search-key01 {
    margin: 0;
}
#main .contents .form-area .search-key01 li {
    margin-bottom: 5px;
}
#main .contents .form-area p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 20px 10px;
    margin-right: 10px;
    background-color: #f5f5f5;
}


#main .contents .form-area .search-key01 .dropdown,
#main .contents .form-area .search-key06 .dropdown {
    width: 100%;
    /* height: 50%; */
}
#main .contents .form-area .dropdown {
    flex: 1;
    padding: 10px 15px;
    margin-bottom: 5px;
    font-size: 16px;
}
.select-wide {
    max-width: 250px;
    margin: 0;
}

#main .contents .search-key02 div {
    display: flex;
    flex-direction: column;
}
.search-key03 .years-gap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}
.search-key06 div {
    display: flex;
    gap:5px;
}

/*버튼 구간*/
#main .btn-area {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    padding: 0 15px;
    gap:3px;
}
/*width:640부터 오토로 바뀜*/
#main .btn-area button {
    width: 100%;
    padding: 10px 15px;
}
#main .btn-area .reset-btn {
    background-color: #fff;
    color: #222;
    border:1px solid #666;
}
#main .btn-area .search-btn {
    background-color: #1b6eab;
    color: #FFF;
}