@media screen and (max-width: 767px){
    .blind-m { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0, 0, 0, 0); }
}

@media screen and (min-width: 1024px){ /* 데스크탑 min-width가 다를 수 있음 */
    body { 
        font-size: 18px;
    }
}
/* #aside {} */

#main {
    padding: 0 20px;
}
#main .main-top {
    padding: 30px 0;
}
#main .main-content {
    padding-top: 30px;
}
#main .main-content .base-form div {
    display: flex;
}
/* #main .main-content .base-form .search-key04 .dropdown {
    margin-left: 14px;
} */
#main .main-content .base-form p {
    width: 100px;
    padding: 20px 10px;
    margin-right: 10px;
}
#main .main-content .base-form div ul {
    flex: 1;
}
#main .main-content .base-form .dropdown {
    width: 100%;
}
#main .main-content .search-key03 li {
    display: flex;
}


#main .search-btns {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    padding: 0 15px;
    gap:3px;
}
/*width:640부터 오토로 바뀜*/
#main .search-btns button {
    width: 100%;
}