/* 메인내용부분 */


/*detail-box 구간*/
.detail-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-top: 2px solid #555;
    
}
.detail-box .month {
    display: flex;
    padding: 10px;
}
.detail-box .month p {
    line-height: 36px;
    vertical-align: middle;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 600;
}
.detail-box .month button {
    width: 30px;
    aspect-ratio: 1 / 1;
    padding: 4px 8px;
    border: 1px solid #e2e2e2;
    border-radius: 0;
}
.detail-box .month button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contents .detail-box .month .today-card {
    margin-left: 10px;
    padding: 4px 8px;
    border: 1px solid #e2e2e2;
    background-color: #444;
    color: #fff;
}
.detail-box .schedule-info {
    display: flex;
    gap:8px;
    padding: 16px 24px;
}
.detail-box .schedule-info li {
    font-size: 12px
}
.detail-box .schedule-info li span {
    margin-right: 4px;
    padding-left: 24px;
    border-radius: 50%;
    color: #fff;
    position: relative;
}
.detail-box .schedule-info li::before {
    content: "";
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../images/schedule-icons.png);
    background-position: 0 0;
}
/*contents 구간*/
table { border-top: 2px solid #222;}
tbody tr:last-child th, tbody tr:last-child td{
    border-bottom: inherit;
}
.calendar .blank {
    background-color: #f0f0f0;
}
.calendar .hide { /*6웓 달력*/
    display: none;
}
.calendar table,
.cal-info table 
{
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
}
.calendar th, .calendar td {
    width: calc(100% / 7);
}
.calendar th,
.cal-info th {
    text-align: center;
    padding: 10px 15px;
    border-bottom: 2px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}
.calendar th:last-child {
    border-right: 0 none;
}
.calendar td {
    height: 80px;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    background-color: #fff;
    padding: 5px 0 0 5px;
    position: relative; /*가상요소 용도*/
}
.calendar td
.calendar td:last-child {
    border-right: 0 none;
}

/* .calendar span {
    width: 18px;
    height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    border-radius: 50%;
    background: #333;
    color: #fff;
    font-size: 11px;
    line-height: 1;
    position: relative;
} */
.calendar td::after {
    content: "";
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background: url("../../images/schedule-icons.png");
}
.contents .icon-holiday::after {
    position: absolute;
    top: 5px;
    left:15px;
}
.contents .icon-event::after {
    position: absolute;
    top: 5px;
    left:15px;
    background-position: -24px 0;
}

.contents .icon-makerspace::after {
    position: absolute;
    top: 5px;
    left:15px;
    background-position: -48px 0;
}
.contents .icon-today::after {
    position: absolute;
    top: 5px;
    left:15px;
    background-position: -72px 0;
}
.calendar td span.icon-today {
    width: auto;
    border-radius: 20%;
}
.calendar .sun {
    color: #b33636;
}
.calendar .sat {
    color: #3e5cbe;
}

/*cal-info*/
.cal-info {
    margin-top: 25px;
}
.cal-info th {
    background-color: #f7f7f7;
    font-size: 14px;
    font-weight: 500;
}
.cal-info caption {
    text-align: start;
    font-size: 20px;
    font-weight: 500;
}
.cal-info tr th:first-child {
    padding: 10px 5px;
}
.cal-info td {
    padding: 10px 5px;
}


/*반응형 구간*/
@media screen and (min-width:768px){ /*태블릿 최소*/
    .detail-box .month p {
        font-size: 25px;
    }
    
    .detail-box .month button {
        width: 34px;
    }
    .cal-info caption {
        font-size: 24px;
    }
    .calendar td {
        height: 120px;
    }
    .calendar td span {
        margin-left: 10px;
    }

    .cal-info th {
        font-size: 16px;
    }
    /* .cal-info tr th:first-child {
        padding: 15px 5px;
    } */
    .detail-box .schedule-info li {
        font-size: 16px;
    }
    
}
@media screen and (min-width:1024px){ /*pc 최소*/
    #main {
    width: 80%;
}
    .detail-box {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 30px;
    }
    .detail-box .schedule-info li {
        font-size: 18px;
    }
    .calendar td {
        height: 160px;
    }
    .contents .icon-holiday::after {
    position: absolute;
    top: 7px;
    left:25px;
}
.contents .icon-event::after {
    position: absolute;
    top: 5px;
    left:20px;
    background-position: -24px 0;
}

.contents .icon-makerspace::after {
    position: absolute;
    top: 5px;
    left:20px;
    background-position: -48px 0;
}
.contents .icon-today::after {
    position: absolute;
    top: 5px;
    left:20px;
    background-position: -72px 0;
}
}
